<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
    <link href="/css/quill.snow.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card align-middle">
            <div class="card-body">
              <h3><a href="/admin-home">Home</a> / News And Events</h3>
              <form action="/admin-ne-search-request" method="post">
                <input type="text" placeholder="Search" name="pSearch">
                <input class="btn btn-prime" type="submit" value="Search">
                <a class="btn btn-prime"  href="/admin-news-and-events">Clear</a>
              </form>
              <a class="btn btn-prime" href="/add-events">Tambahkan Event</a>
              <br>
              <br>
              <div class="row">
                <% newscontents.forEach(function(newscontent){%>
                <div class="col-md-4 news-items">
                  <div class="card card-blog">
                    <div class="card-img">
                      <a href="/news-and-events/<%= newscontent.uuid %>"><img src="/public/uploads/<%= newscontent.img %>" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                      <div class="card-category-box">
                        <div class="card-category">
                          <h6 class="category"><%= newscontent.etype %></h6>
                        </div>
                      </div>
                      <div class="dthumb">
                          <h3 class="card-title"><a href="/news-and-events/<%= newscontent.uuid %>"><%= newscontent.title %></a></h3>
                          <% if (newscontent.etype == "questionaire") { %>
                            <a class="btn btn-info" href="/news-and-events/<%= newscontent.uuid %>">Ikut Questionaire</a>
                          <% } else { %>
                          <div class="ql-snow"><p class="card-description"><%- newscontent.contents -%></p></div>
                          <% } %>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="post-author">
                        <a href="/news-and-events/<%= newscontent.uuid %>">
                          <span class="author"><%= newscontent.author %></span>
                        </a>
                      </div>
                      <div class="post-date">
                        <span class="ion-ios-clock-outline"></span> <%= newscontent.edate %>
                      </div>
                    </div>
                  </div>
                  <div class="edit-delete-btn">
                    <a href="/edit-events/<%= newscontent.uuid %>" class="btn btn-prime">Edit</a>
                    <a href="/delete-event/<%= newscontent.uuid %>" class="btn btn-warning">Delete</a>
                  </div>
                </div>
                <%});%>
              </div>              
              <br>
              <br>
              <a class="btn btn-prime" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--/ Section Contact-Footer Star /-->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>
    <!-- JavaScript Libraries -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/popper/popper.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="/lib/counterup/jquery.counterup.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/typed/typed.min.js"></script>    
    
    <!-- Contact Form JavaScript File -->
    <script src="/contactform/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>
    <script>
      $('.news-items *').removeAttr('contenteditable');
    </script>
    <!--/ Section Contact-footer End /-->
  </body>
</html>