<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card align-middle">
            <div class="card-body">
              <a href="/pub-add">Add</a>
              <h3>Publication</h3>

              <form action="/admin-publication-search-request" method="post">
                  <input type="text" placeholder="Search" name="pSearch">
                  <input class="btn btn-prime" type="submit" value="Submit">
                  <a class="btn btn-prime"  href="/admin-publication/1">Clear</a>
              </form>

              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <% for (i = 1; i <= pages; i++){%>
                  <li class="page-item pag-<%= i %>"><a class="page-link" href="/admin-publication/<%= i %>"><%= i %></a></li>
                  <%};%>
                </ul>
              </nav>
              
              <% publications.forEach(function(publication){%>
                <ul>
                  <li><a href="<%= publication.link %>"><%= publication.title %></a></li>
                  <li><%= publication.year %></li>
                  <li><%= publication.author %></li>
                  <li><%= publication.category %></li>
                  <li><%= publication.publisher %></li>
                  <li><%= publication.country %></li>
                  <li><a href="<%= publication.link %>">Link</a></li>
                  <li><a href="/pub-edit/<%= publication.uuid %>">Edit</a></li>
                  <li><a href="/pub-delete-request/<%= publication.uuid %>">Delete</a></li>
                </ul>
              <%});%>

              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <% for (i = 1; i <= pages; i++){%>
                  <li class="page-item pag-<%= i %>"><a class="page-link" href="/admin-publication/<%= i %>"><%= i %></a></li>
                  <%};%>
                </ul>
              </nav>

              <a class="btn btn-prime" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--/ Section Contact-Footer Star /-->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>
    <!-- JavaScript Libraries -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/popper/popper.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="/lib/counterup/jquery.counterup.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/typed/typed.min.js"></script>
    <script type="text/javascript">
      $(".pag-" + <%= currentpage %>).addClass( "active" );
    </script>
    
    <!-- Contact Form JavaScript File -->
    <script src="/contactform/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>
    <!--/ Section Contact-footer End /-->
  </body>
</html>