<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
    <!-- Include Quill stylesheet -->
    <link href="/css/quill.snow.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('en-header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(/img/slide/adults-analysis-brainstorming-1661004.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">News And Events</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">News And Events</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    <!--/ Section Blog-Single Star /-->
    <section class="blog-wrapper sect-pt4" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <% newscontents.forEach(function(newscontent){%>
              <div class="col-md-4 news-items">
                <div class="card card-blog">
                  <div class="card-img">
                    <a href="/en/news-and-events/<%= newscontent.uuid %>"><img src="/public/uploads/<%= newscontent.img %>" alt="" class="img-fluid"></a>
                  </div>
                  <div class="card-body">
                    <div class="card-category-box">
                      <div class="card-category">
                        <h6 class="category"><%= newscontent.etype %></h6>
                      </div>
                    </div>
                    <h3 class="card-title"><a href="/en/news-and-events/<%= newscontent.uuid %>"><%= newscontent.title %></a></h3>
                    <% if (newscontent.etype == "questionaire") { %>
                    <a class="btn btn-info" href="/en/news-and-events/<%= newscontent.uuid %>">Take the Questionaire</a>
                    <% } else { %>
                    <div class="ql-snow"><p class="card-description"><%- newscontent.contents -%></p></div>
                    <% } %>
                  </div>
                  <div class="card-footer">
                    <div class="post-author">
                      <a href="/en/news-and-events/<%= newscontent.uuid %>">
                        <span class="author"><%= newscontent.author %></span>
                      </a>
                    </div>
                    <div class="post-date">
                      <span class="ion-ios-clock-outline"></span> <%= newscontent.edate %>
                    </div>
                  </div>
                </div>                
              </div>
              <%});%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget-sidebar sidebar-search">
              <h5 class="sidebar-title">Search</h5>
              <div class="sidebar-content">
                <form action="/en/ne-search-request" method="post">
                  <div class="input-group">
                    <input name="pSearch" type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                    <span class="input-group-btn">
                      <button type="submit" value="Search" class="btn btn-secondary btn-search">
                      <span class="ion-android-search"></span>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <div class="widget-sidebar">
              <h5 class="sidebar-title">Recent Post</h5>
              <div class="sidebar-content">
                <ul class="list-sidebar">
                  <% recents.forEach(function(recent){%>
                  <li>
                    <a href="/en/news-and-events/<%= recent.uuid %>"><%= recent.title %></a>
                  </li>
                  <%});%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Section Blog-Single End /-->
    
    <!--/ Section Contact-Footer Star /-->
    <%- include('en-footer'); -%>
    <!--/ Section Contact-footer End /-->
  </body>
</html>