<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(/img/headline.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">Publikasi</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Publikasi</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    <div class="container">
      <form action="/publication-search-request" method="post">
        <input type="text" placeholder="Search" name="pSearch">
        <input class="btn btn-prime" type="submit" value="Search">
        <a class="btn btn-prime"  href="/publications/1">Clear</a>
      </form>
      <br>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% if(parseInt(currentpage) == 1){%>
            <li class="page-item"><a class="page-link" disabled="disabled" href="#">Prev</a></li>
          <%} else {%>
            <li class="page-item"><a class="page-link" href="/publications/<%= parseInt(currentpage) - 1 %>">Prev</a></li>
          <%};%>

          <% for (i = 1; i <= pages; i++){%>
          <li class="page-item pag-<%= i %>"><a class="page-link" href="/publications/<%= i %>"><%= i %></a></li>
          <%};%>

          <% if(parseInt(currentpage) == pages){%>
            <li class="page-item"><a class="page-link" disabled="disabled" href="#">Next</a></li>
          <%} else {%>
            <li class="page-item"><a class="page-link" href="/publications/<%= parseInt(currentpage) + 1 %>">Next</a></li>
          <%};%>
          
        </ul>
      </nav>
      <% publications.forEach(function(publication){%>
      <div class="row publication-item" data-aos="fade-right">
        <div class="pub-panel col-12">
            <div class="row">
                <div class="col-12"><h3><a href="<%= publication.link %>"><%= publication.title %></a></h3></div>
            </div>
            <div class="row">
                <div class="col-3 col-lg-1">Year</div>
                <div class="col-9 col-lg-11">: <%= publication.year %></div>
            </div>
            <div class="row">
                <div class="col-3 col-lg-1">Author</div>
                <div class="col-9 col-lg-11">: <%= publication.author %></div>
            </div>
            <div class="row">
                <div class="col-3 col-lg-1">Category</div>
                <div class="col-9 col-lg-11">: <%= publication.category %></div>
            </div>
            <div class="row">
                <div class="col-3 col-lg-1">Publisher</div>
                <div class="col-9 col-lg-11">: <%= publication.publisher %></div>
            </div>
            <div class="row">
                <div class="col-3 col-lg-1">Country</div>
                <div class="col-9 col-lg-11">: <%= publication.country %></div>
            </div>
            <div class="row">
                <div class="col-3 col-lg-1">Source</div>
                <div class="col-9 col-lg-11">: <a href="<%= publication.link %>">Link</a></div>
            </div>
        </div>
      </div>
      
      <%});%>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% if(parseInt(currentpage) == 1){%>
            <li class="page-item"><a class="page-link" disabled="disabled" href="#">Prev</a></li>
          <%} else {%>
            <li class="page-item"><a class="page-link" href="/publications/<%= parseInt(currentpage) - 1 %>">Prev</a></li>
          <%};%>

          <% for (i = 1; i <= pages; i++){%>
          <li class="page-item pag-<%= i %>"><a class="page-link" href="/publications/<%= i %>"><%= i %></a></li>
          <%};%>

          <% if(parseInt(currentpage) == pages){%>
            <li class="page-item"><a class="page-link" disabled="disabled" href="#">Next</a></li>
          <%} else {%>
            <li class="page-item"><a class="page-link" href="/publications/<%= parseInt(currentpage) + 1 %>">Next</a></li>
          <%};%>
        </ul>
      </nav>
    </div>
    <!--/ Section Contact-Footer Star /-->
    <%- include('footer'); -%>
    <!--/ Section Contact-footer End /-->
    <script type="text/javascript">
    $(".pag-" + <%= currentpage %>).addClass( "active" );
    </script>
    <script>
      $("#header-home").removeClass("active");
      $("#header-publikasi").addClass("active");
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({delay: 100, duration: 400});
    </script>
  </body>
</html>