<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head'); -%>
  </head>
  <body id="page-top">
    <!--/ Nav Star /-->
    <%- include('header'); -%>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div class="intro intro-single route bg-image" style="background-image: url(/img/slide/adults-analysis-brainstorming-1661004.jpg)">
      <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="intro-title mb-4">Tim Kami</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">Tim Kami</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form action="/timkami-search-request" method="post">
            <input type="text" placeholder="Search" name="pSearch">
            <input class="btn btn-prime" type="submit" value="Search">
            <a class="btn btn-prime"  href="/tim-kami">Clear</a>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-2">
          
        </div>
        <div class="col-lg-10">
          <section id="timkami">
            <div class="row">
              <% timkami.forEach(function(tim){%>
              <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                  <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <img src="/public/uploads/<%= tim.foto %>" class="card-img-top" alt="">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title text-center"><a href="#" data-toggle="modal" data-target="#exampleModal"><%= tim.nama %></a></h5>
                    <p class="card-text text-center"><a href="#" data-toggle="modal" data-target="#exampleModal"><%= tim.jabatan %></a></p>
                    <div class="socials">
                      <ul>
                        <li><a href="<%= tim.facebook %>"><span class="ico-circle center"><i class="ion-social-facebook"></i></span></a></li>
                        <li><a href="<%= tim.instagram %>"><span class="ico-circle center"><i class="ion-social-instagram"></i></span></a></li>
                        <li><a href="<%= tim.twitter %>"><span class="ico-circle center"><i class="ion-social-twitter"></i></span></a></li>
                        <li><a href="<%= tim.youtube %>"><span class="ico-circle center"><i class="ion-social-youtube"></i></span></a></li>
                      </ul>
                    </div>
                    <a href="#" class="btn btn-prime center">Detail</a>
                  </div>
                </div>
              </div>
              <!--Modal-->
              <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-sm-6 col-md-5">
                              <div class="about-img">
                                <img src="/public/timkami/IEP.jpg" class="img-fluid rounded b-shadow-a" alt="">
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-7">
                              <div class="about-info">
                                <p><span class="title-s">Name: </span> <span>Morgan Freeman</span></p>
                                <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                                <p><span class="title-s">Email: </span> <span>contact@example.com</span></p>
                                <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="skill-mf">
                            <p class="title-s">Skill</p>
                            <span>HTML</span> <span class="pull-right">85%</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span>CSS3</span> <span class="pull-right">75%</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span>PHP</span> <span class="pull-right">50%</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="about-me pt-4 pt-md-0">
                            <div class="title-box-2">
                              <h5 class="title-left">
                              About me
                              </h5>
                            </div>
                            <p class="lead">
                              Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
                              imperdiet et, porttitor
                              at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla
                              porttitor accumsan tincidunt.
                            </p>
                            <p class="lead">
                              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                              porttitor volutpat. Vestibulum
                              ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                            </p>
                            <p class="lead">
                              Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                              Nulla porttitor accumsan
                              tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!--Modal Ends-->
              <%});%>
            </div>
          </section>
        </div>
      </div>
      <br>
    </div>
    <!--/ Section Contact-Footer Star /-->
    <%- include('footer'); -%>
    <!--/ Section Contact-footer End /-->
  </body>
</html>